{% extends "base.html" %}

{% block title %}Add Vehicle{% endblock %}

{% block content %}

<div class="container py-5">

<div class="row justify-content-center">

<div class="col-lg-6">

<div class="card shadow rounded-4">

<div class="card-body p-5">

<h2 class="mb-4 text-center">

🚗 Add Vehicle

</h2>

<form method="POST">

<div class="mb-3">

<label>Vehicle Number</label>

<input
type="text"
name="vehicle_number"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Vehicle Type</label>

<select
name="vehicle_type"
class="form-select">

<option>Car</option>

<option>Bike</option>

</select>

</div>

<div class="mb-3">

<label>Brand</label>

<input
type="text"
name="brand"
class="form-control"
required>

</div>

<div class="mb-3">

<label>Model</label>

<input
type="text"
name="model"
class="form-control"
required>

</div>

<div class="mb-4">

<label>Color</label>

<input
type="text"
name="color"
class="form-control"
required>

</div>

<div class="d-grid">

<button class="btn btn-primary">

Save Vehicle

</button>

</div>

</form>

</div>

</div>

</div>

</div>

</div>

{% endblock %}