{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="container py-5">

    <h1 class="mb-4">
        Welcome {{ current_user.name }} 👋
    </h1>

    <div class="row">

        <div class="col-md-3">

            <div class="card shadow text-center p-4">

                <h3>Available</h3>

                <h2 class="text-success">120</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow text-center p-4">

                <h3>Occupied</h3>

                <h2 class="text-danger">30</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow text-center p-4">

                <h3>Reserved</h3>

                <h2 class="text-warning">15</h2>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow text-center p-4">

                <h3>Total Slots</h3>

                <h2 class="text-primary">165</h2>

            </div>

        </div>

    </div>

</div>

{% endblock %}