{% extends "base.html" %}

{% block title %}My Bookings{% endblock %}

{% block content %}

<div class="container py-5">

    <h2 class="mb-4">
        My Bookings
    </h2>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">

            <tr>

                <th>ID</th>

                <th>Slot</th>

                <th>Date</th>

                <th>Entry</th>

                <th>Exit</th>

                <th>Status</th>

            </tr>

        </thead>

        <tbody>

        {% for booking in bookings %}

        <tr>

            <td>{{ booking.id }}</td>

            <td>{{ booking.slot.slot_number }}</td>

            <td>{{ booking.booking_date }}</td>

            <td>{{ booking.entry_time.strftime("%I:%M %p") }}</td>

            <td>{{ booking.exit_time.strftime("%I:%M %p") }}</td>

            <td>

                <span class="badge bg-success">

                    {{ booking.status }}

                </span>

            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}